@import url(./../../common.css);

body {
    background: gray;
    font-family: '굴림', 'Gulim', serif;
    font-size: 14px;
}
header {
    text-align: center;
    background: orange;
    color: white;
    
    margin: 0 auto;
}
#wrapper {
    width: 80%;
    background: white;
    margin: 0 auto;
}
header h1 {
    font-size: 6em;
    font-weight: bold; /* 줄 개행 */
    padding: 10px 0;
}
header h1 span {
    font-size: 16px;
    display: block;
}
header .stit {
    color: black;
    text-align: center;
    background: lightgray;
    padding: 3px 0;
}
.container .side-menu{
    width: 20%;
    margin: 0 auto;
    float: left;
}
.side-menu {
    background: white;
}
.side-menu h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    background: #6c0000;    
    padding: 10px 10px;
}
.side-menu ul {
    text-decoration: underline;
    padding: 10px 10px;
}
.side-menu ul li {
    margin-bottom: 10px;
}
.side-menu ul li a:hover {
    border-bottom: 1px dashed black;
}
.main-content {
    width: 60%;
    background: #ebe8e8;
    padding: 10px 10px;
    float: left;
}

.title{
    background: navy;
    color: white;
    padding: 10px;
}
.title a:hover{
    text-decoration: underline;
}
.artist{
    padding: 5px 5px;
}
.detail{
    padding: 5px 5px;
}
.banner {
    background: white;
    width: 20%;
    padding: 10px 10px;
    float: left;
}
.banner h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner h3 span {
    text-decoration: underline;
    line-height: 1.3;
}
.all {
    color: gray;
}
.love {
    display: block;
    color: orange;
}
.link li {
    margin-bottom: 10px;
}
.link li a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}
.link li span {
    font-size: 0.7em;
    display: block;
}
footer {
    background: navy;
    padding: 10px;
    margin: 0 auto;
}
footer address {
    color: white;
    text-align: center;
}